---
---
<header class="header" id="header">
    <div class="blob-animate"></div>

    <nav class="nav-container">
        <a href="#" class="nav__logo">Ivan</a>
        <div class="nav__menu">
            <ul class="nav__list">
                <li ><a href="#about" class="nav__link">Sobre mi</a></li>
                <li><a href="#projects" class="nav__link">Proyectos</a></li>
                <li><a href="#contact" class="nav__link">Contacto</a></li>
            </ul>

        </div>
    </nav> 
</header>