---
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro'
---
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="" href="" type="">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="">

    <title>Ivan Priala</title>
  </head>
  <body>
    <header>
      <slot name="header" />
    </header>

    <main>
      <slot name="home"/>
      <slot name="about"/>
    </main>

    <footer>
        
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/animejs/dist/bundles/anime.umd.min.js"></script>
    <script src="/src/js/main.js"></script>
  </body>
</html>